[Unit]
Description=Stellwerk Steuerung
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=messbert
WorkingDirectory=/home/messbert/projects/stellwerk
ExecStart=/home/messbert/projects/stellwerk/.venv/bin/python /home/messbert/projects/stellwerk/main.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
