[Unit]
Description=Stellwerk Steuerung
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/stellwerk
ExecStart=/home/pi/stellwerk/.venv/bin/python /home/pi/stellwerk/main.py
Restart=on-failure
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
